<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,116}</string>
                <key>spriteSourceSize</key>
                <string>{230,116}</string>
                <key>textureRect</key>
                <string>{{0,0},{230,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,116}</string>
                <key>spriteSourceSize</key>
                <string>{230,116}</string>
                <key>textureRect</key>
                <string>{{230,0},{230,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,116}</string>
                <key>spriteSourceSize</key>
                <string>{230,116}</string>
                <key>textureRect</key>
                <string>{{460,0},{230,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,116}</string>
                <key>spriteSourceSize</key>
                <string>{230,116}</string>
                <key>textureRect</key>
                <string>{{690,0},{230,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buttons_selected.png</string>
            <key>size</key>
            <string>{920,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c4d606522d9c880a57cb905e33eb814:e115299711b7811f88fe5270d02487b0:d8a9fd312a31c863a0cad30816122926$</string>
            <key>textureFileName</key>
            <string>buttons_selected.png</string>
        </dict>
    </dict>
</plist>
