<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,116}</string>
                <key>spriteSourceSize</key>
                <string>{230,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{230,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>about_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,116}</string>
                <key>spriteSourceSize</key>
                <string>{230,116}</string>
                <key>textureRect</key>
                <string>{{1,119},{230,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>about_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,116}</string>
                <key>spriteSourceSize</key>
                <string>{230,116}</string>
                <key>textureRect</key>
                <string>{{233,1},{230,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,116}</string>
                <key>spriteSourceSize</key>
                <string>{230,116}</string>
                <key>textureRect</key>
                <string>{{233,119},{230,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,116}</string>
                <key>spriteSourceSize</key>
                <string>{230,116}</string>
                <key>textureRect</key>
                <string>{{465,1},{230,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,116}</string>
                <key>spriteSourceSize</key>
                <string>{230,116}</string>
                <key>textureRect</key>
                <string>{{465,119},{230,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,116}</string>
                <key>spriteSourceSize</key>
                <string>{230,116}</string>
                <key>textureRect</key>
                <string>{{697,1},{230,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,116}</string>
                <key>spriteSourceSize</key>
                <string>{230,116}</string>
                <key>textureRect</key>
                <string>{{697,119},{230,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,116}</string>
                <key>spriteSourceSize</key>
                <string>{230,116}</string>
                <key>textureRect</key>
                <string>{{929,1},{230,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,116}</string>
                <key>spriteSourceSize</key>
                <string>{230,116}</string>
                <key>textureRect</key>
                <string>{{929,119},{230,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,116}</string>
                <key>spriteSourceSize</key>
                <string>{230,116}</string>
                <key>textureRect</key>
                <string>{{1161,1},{230,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,116}</string>
                <key>spriteSourceSize</key>
                <string>{230,116}</string>
                <key>textureRect</key>
                <string>{{1161,119},{230,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buttons.png</string>
            <key>size</key>
            <string>{1392,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1242d13fd0fd4468fc32a83cd5c1504f:0313a294cfd847af39fc61a7520637db:45890900fd32b7ad8de5c64a8d953704$</string>
            <key>textureFileName</key>
            <string>buttons.png</string>
        </dict>
    </dict>
</plist>
